section#banner {
    background: $red;
    color: $white;
    padding: 15px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    .wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;  
        flex-wrap: wrap;
        max-width: 1200px;

        @include tablet {
            justify-content: center;  
        }
    }

    .headline {
        padding: 0 0 10px 0;
    
        @include tablet {
            width: auto;
            padding: 0 20px 0 0;
            margin-left: auto;
        }

        h3 {
            text-transform: uppercase;
            font-size: 2rem;
            letter-spacing: 0.05em;
            font-weight: 700;
        }
    }

    .copy {
        @include tablet {
            width: auto;
            flex: 1;
            margin-bottom: auto;
        }

        p {
            font-size: 1em;
            line-height: 1.25em;

            & + p {
                padding-top: 15px;
            }

            a {
                color: $white;
                text-decoration: underline;
            }
        }
    }


    &.extended {
        padding: 50px 0;

        .wrapper {
            display: block;
            max-width: 1200px;
        }

        .headline {
            h3 {
                font-size: 2.5rem;
                font-weight: 600;
                padding-bottom: 5px;
            }

            h4 {
                font-size: 1.75rem;
                font-weight: 500;
            }
        }

        .copy {
            padding: 15px 0 25px 0;

            p {
                font-size: 1.125rem;
            }
        }

        .cta {
            a {
                display: inline-block;
                border: 1px solid $white;
                font-family: $tungsten;
                font-weight: 500;
                color: $white;
                padding: 10px 20px 8px 20px;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                font-size: 1.375rem;

                &:hover {
                    background: $white;
                    color: $red;
                }
            }
        }

        .notice {
            margin-top: 25px;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            padding-top: 25px;

            @include tablet {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

            h5 {
                text-transform: uppercase;
                white-space: nowrap;
                font-size: 1.25rem;
                margin: 0 0 10px 0;

                @include tablet {
                    margin: 0 20px 0 0;
                    font-size: 2rem;
                }
            }

            p {
                font-size: 1rem;
            }
        }
    }
}