body.page-template-book-a-tee-time {

	section.main {
		padding: 50px 0;
		min-height: 800px;

		@include tablet {
			padding: 100px 0;
		}

		.header {
			text-align: center;
			padding: 0 0 25px 0;

			h2 {
				font-size: 3em;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				color: $dark-green;

				@include tablet {
					font-size: 5em;
				}
			}
		}

		.tabs {
			max-width: 600px;
			margin: 0 auto;

			h4 {
				font-size: 1.5em;
				width: 100%;
				text-align: center;
				padding: 0 0 20px 0;
				font-family: $marion-italic;
				color: $dark-green;
			}


			a {
				color: $dark-green;
				font-family: $tungsten;
				font-size: 1.25em;
				display: block;
				margin: 0 10px;
				padding: 8px 20px 5px 20px;
				border-radius: 12px;
				border: 1px solid $dark-green;

				@include tablet {
					font-size: 1.75em;
					padding: 12px 30px 9px 30px;
				}

				&.active,
				&:hover {
					background: $dark-green;
					color: $white;
				}
			}
		}
	}
}