body.page-template-contact {

	section#main {
		text-align: center;
		padding-bottom: 100px;

		h1.page-title {
			color: $black;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 5em;
			font-weight: bold;
			padding-bottom: 50px;
		}

		.locations {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 100px;

			@include tablet-small {
				grid-template-columns: 1fr 1fr;
			}

			@include tablet {
				grid-template-columns: 1fr 1fr 1fr;
			}

			.location {
				h2 {
					font-size: 3.5em;
					a {
						color: $green;
					}
				}

				.image {
					margin: 10px 0 0 0;
					@include aspect-ratio(4,3);
					box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.info {
					text-align: left;
					background: $white;
					padding: 40px 25px;
					box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

					.detail {

						& + .detail {
							padding: 30px 0 0 0;
						}

						h3 {
							text-transform: uppercase;
							letter-spacing: 0.05em;
							font-size: 1.25em;
							padding: 0 0 3px 0;
						}

						p {
							font-size: 1em;
							line-height: 1.375em;

							a {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}