body.page-template-faqs {

	section#main {
		.wrapper {
			max-width: 640px;
		}

		padding-bottom: 100px;
	}

	section.question-group + section.question-group {
		padding-top: 100px;
	}

	h1.page-title {
		color: $black;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 5em;
		font-weight: bold;
		padding-bottom: 50px;
	}

	h2.section-title {
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 2.5em;
		font-weight: bold;
		padding-bottom: 20px;
	}

	.question {

		& + .question {
			padding-top: 50px;
		}

		h3 {
			font-size: 2.5em;
			line-height: 1.25em;
			font-weight: bold;
			color: $green;
			padding-bottom: 5px;
			text-transform: uppercase;
			letter-spacing: 0.05em
		}

		p {
			font-size: 1.25em;
			line-height: 1.25em;

			& + p {
				padding-top: 20px;
			}

			a {
				text-decoration: underline;
				color: $green;
			}
		}

	}


}