footer {
	background: $dark-green;
	padding: 50px 0;
	color: $white;

	a {
		color: $white;
	}

	.info {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;

		.logo {
			width: 100%;
			padding: 0 0 25px 0;

			img {
				max-width: 96px;
			}

			@include tablet {
				width: 20%;
				padding: 0;
			}
		}

		.links {
			width: 100%;
			padding: 25px 0;
			border-top: 1px solid rgba(255, 255, 255, 0.2);
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);

			@include tablet {
				padding: 0;
				border: none;
				width: 30%;
			}

			a {
				display: block;
				font-family: $tungsten;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 1.5em;
				font-weight: 600;

				@include tablet {
					font-size: 1.75em;
				}

				& + a {
					margin-top: 10px;
				}

				&:hover {
					color: $red;
				}
			}
		}

		.meta-links {
			width: 100%;

			@include tablet {
				width: 50%;
			}

			@include desktop-small {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
			}
		}

		.locations {
			padding: 25px 0 0 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;

			@include tablet {
				justify-content: space-between;
				padding: 0;
			}

			@include desktop-small {
				flex: 1;
			}


			a {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: $tungsten;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 1.75em;
				line-height: 1em;
				font-weight: 600;
				padding: 18px 32px 14px 32px;
				background: $black;
				margin: 0 0 10px 0;
				width: calc(50% - 5px);
				text-align: center;
				
				&:hover {
					color: $white;
					background: $black;
				}

				.coming-soon {
					padding-top: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					order: -1;
					margin-left: -24px;
					margin-right: 10px;

					&:before,
					&:after {
						content: '';
						display: block;
						width: 8px;
						height: 8px;
						background: $yellow;
						border-radius: 50%;
						opacity: 0.8;
					}

					&:after {
						background: $red;
						transform: translateX(-2px);
					}
				}
			}
		}

		.utility-nav {
			padding: 50px 0 0 0;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			@include tablet-small {
				padding: 0;
			}

			@include desktop-small {
				justify-content: flex-end;
				align-items: flex-start;
				max-width: 180px;
			}

			a {
				display: block;
				font-family: $tungsten;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 1.25em;
				line-height: 1em;
				font-weight: 600;
				padding: 10px;
				margin: 0 5px;
				width: 100%;
				max-width: 160px;
				text-align: center;
				background: $yellow;
				color: $slate;

				span {
					display: block;
					padding: 12px 15px 10px 15px;
					border: 1px solid $black;
				}

				@include tablet-small {
					width: calc(50% - 5px);
					margin: 0;

					& + a {
						margin-left: 10px;
					}
				}

				@include desktop-small {
					width: 100%;

					& + a {
						margin: 15px 0 0 0;
					}
				}
			}
		}

		.social-nav {
			width: 100%;
			padding: 75px 0 25px 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			@include tablet {
				border-top: 1px solid rgba(255, 255, 255, 0.2);
				padding: 25px 0 0 0;
				justify-content: flex-start;
				margin-top: 50px;
			}

			a {
				display: block;
				max-height: 24px;
				max-width: 24px;

				& + a {
					margin-left: 20px;
				}

				img {
					width: 100%;
					height: 100%;
				}

			}

			.apps {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				padding: 50px 0 0 0;

				@include tablet {
					margin-left: auto;
					width: auto;
					padding: 0;
					justify-content: flex-end;
				}

				a {
					max-width: 100%;
					max-height: none;

					&.app-store {
						width: 144px;
						height: 48px;
					}					

					&.google-play {
						width: 161px;
						height: 48px;
					}
				}
			}
		}
	}
}