body.page-template-general {

	header {
		.header-contact {
			display: none;

			@include tablet {
				display: block;
				width: 50%;
			}

			@include desktop-small {
				padding-top: 25px;
			}

			h2 {
				text-transform: uppercase;
				letter-spacing: 0.075em;
				font-size: 2.25em;
				display: flex;
				align-items: center;
				width: 100%;

				br {
					display: none;
				}

				@include desktop-medium {
					font-size: 3em;
				}

				.coming-soon {
					padding-top: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					order: -1;
					margin-left: 0;
					margin-right: 10px;

					&:before,
					&:after {
						content: '';
						display: block;
						width: 16px;
						height: 16px;
						background: $yellow;
						border-radius: 50%;
						opacity: 0.8;
					}

					&:after {
						background: $red;
						transform: translateX(-4px);
					}
				}
			}

			.info {
				padding: 10px 0 0 0;

				p {
					font-size: 1em;
					line-height: 1.25em;

					& + p {
						padding: 5px 0 0 0;
					}

					a:hover {
						text-decoration: underline;
					}
				}
			}


			.utility-nav {
				padding: 20px 0 0 0;
				display: flex;

				a {
					display: block;
					font-family: $tungsten;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 1.25em;
					line-height: 1em;
					font-weight: 600;
					padding: 10px;					
					margin: 0 0 15px 0;
					width: 100%;
					text-align: center;
					background: $yellow;
					color: $slate;

					span {
						display: block;
						padding: 14px 22px 12px 22px;
						border: 1px solid $black;
					}

					@include tablet-small {
						width: 47.5%;
						max-width: 200px;
						margin: 0;
					}

					& + a {
						margin-left: 15px;
					}
				}
			}

		}
	}


	.mobile-header-contact {
		padding-bottom: 25px;

		@include tablet {
			display: none;
		}

		h2 {
			text-transform: uppercase;
			letter-spacing: 0.075em;
			font-size: 2.25em;
			display: flex;
			align-items: center;
			width: 100%;

			@include desktop-medium {
				font-size: 3em;
			}

			.coming-soon {
				padding-top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				order: -1;
				margin-left: 0;
				margin-right: 10px;

				&:before,
				&:after {
					content: '';
					display: block;
					width: 16px;
					height: 16px;
					background: $yellow;
					border-radius: 50%;
					opacity: 0.8;
				}

				&:after {
					background: $red;
					transform: translateX(-4px);
				}
			}

		}

		.info {
			padding: 10px 0 0 0;

			p {
				font-size: 1em;
				line-height: 1.25em;

				& + p {
					padding: 5px 0 0 0;
				}

				a:hover {
					text-decoration: underline;
				}
			}
		}


		.utility-nav {
			padding: 20px 0 0 0;
			display: flex;

			a {
				display: block;
				font-family: $tungsten;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 1.25em;
				line-height: 1em;
				font-weight: 600;
				padding: 10px;					
				margin: 0 0 15px 0;
				width: 100%;
				text-align: center;
				background: $yellow;
				color: $slate;

				span {
					display: block;
					padding: 14px 22px 12px 22px;
					border: 1px solid $black;
				}

				@include tablet-small {
					width: 47.5%;
					max-width: 200px;
					margin: 0;
				}

				& + a {
					margin-left: 15px;
				}
			}
		}

	}

	section#hero {

		@include tablet {
			margin-bottom: 30px;
		}

		.main-image {
			@include aspect-ratio(16, 9);
			
			&.main-image--shorter {
				@include aspect-ratio(16, 5);
			}
			
			&:after {
				display: block;
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(0, 0, 0, 0.2);
				z-index: 100;
			}

			.info {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 200;
			}

			.cover-headline {
				width: 100%;
			}

			h1 {
				text-align: center;
				text-transform: uppercase;
				color: $white;
				letter-spacing: 0.1em;
				line-height: 0.875em;
			}
		}

		.gallery {
			padding: 10px 0 25px 0;
			margin: 0 0 25px 0;

			@include tablet {
				padding: 25px 0;
			}
			
			.image {
				margin: 0 5px;
				@include aspect-ratio(4, 3);

				@include tablet {
					padding: 0 10px;
				}

				&:focus,
				&:active {
					outline: none;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

			}

			.slick-dots {
				bottom: -5px;

			    li {

			        button {
			        	opacity: 1;
		
			            &:before {
			                background-color: $green;
			                opacity: 1;

			            }
			        }
			        &.slick-active button:before {
			        	background-color: $dark-green;

			        }
			    }
			}

		}

		& + section.left-aligned-text {
			padding-top: 0;
		}
	}
	
	section#hero,
	.section-headline {
		text-align: center;
		padding: 0 0 3rem;

		h1,
		h2 {
			text-align: center;
			text-transform: uppercase;
			font-size: 3em;
			color: $black;
			font-weight: bold;
			letter-spacing: 0.1em;
			line-height: 0.875;


			@include tablet {
				font-size: 4em;

			}

			@include desktop-small {
				font-size: 12em;
			}
		}
	}

	section#location-nav {
		display: none;

		@include tablet {
			display: block;
			position: -webkit-sticky;
			position: sticky;
			background: #e8e8e5;
			top: 0;
			z-index: 1000;
			padding: 20px 0;
		}

		.links {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			white-space: nowrap;

			&:empty {
				padding: 0;
			}
		}

		a {
			display: block;
			margin: 0 20px;
			font-size: 1.25em;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	section.template-section {
		padding: 3rem 0;

		.wrapper {
			max-width: 960px;
		}

		h2.section-header {
			text-align: center;
			text-transform: uppercase;
		}

		& + section.template-section {
			margin-top: 25px;
		}
		
		.cta {
			margin-top: 50px;
			text-align: center;
			
			a {
				display: inline-block;
				font-family: $tungsten;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 1.5em;
				line-height: 1em;
				font-weight: 600;
				padding: 10px;
				text-align: center;
				background: $yellow;
				color: $slate;					

				span {
					display: block;
					padding: 14px 22px 12px 22px;
					border: 1px solid $black;
				}

			}
			
			&.cta--secondary {
				a {
					font-size: 1.75em;
					background: $black;
					color: $white;
					padding: 18px 32px 14px 32px;
					
					span {
						padding: 0;
						border: none;
					}
				}
			}
		}
	}


	section.weekly-happenings {
		background: $dark-green;
		color: $white;

		@include tablet {
			margin-top: 30px;
		}

		.events {
			display: flex;
			justify-content: center;
			align-items: stretch;
			flex-wrap: wrap;
			padding: 0 0 50px 0;

			.event {
				width: 100%;
				text-align: center;
				border: 3px solid $green;
				padding: 30px 20px;
				display: flex;
				flex-direction: column;
				justify-content: center;

				& + .event {
					margin-top: 25px;
				}

				@include tablet-small {
					width: 30.8333%;
					margin: 0 1.25%;
					
					& + .event {
						margin-top: 0;
					}
				}

				.time {
					padding: 0 0 20px 0;

					h4 {
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-size: 2em;
						font-weight: 600;
						line-height: 1.25em;

						@include tablet-small {
							font-size: 1.25em;
						}

						@include tablet {
							font-size: 1.5em;
						}

					}

				}

				.title {
					border-top: 3px solid $green;
					border-bottom: 3px solid $green;
					padding: 15px;

					h3 {
						text-transform: uppercase;
						letter-spacing: 0.1em;
						font-weight: 600;
					}
				}
			}
		}

		.specials {
			display: flex;
			justify-content: center;
			align-items: stretch;
			flex-wrap: wrap;
			padding: 0 0 25px 0;

			.special {
				width: 100%;
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;

				& + .special {
					margin-top: 50px;
				}

				@include tablet-small {
					width: 47.5%;
					
					& + .special {
						margin-top: 0;
					}
				}

				.title {
					padding: 0;

					h3 {
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-size: 1.5em;
						font-weight: 600;
						line-height: 1.25em;

						@include tablet {
							font-size: 3em;
						}

					}
				}

				.time {
					padding: 0 0 5px 0;

					h4 {
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-size: 2em;
						font-weight: 600;
						line-height: 1.25em;

						@include tablet-small {
							font-size: 1.25em;
						}

						@include tablet {
							font-size: 1.5em;
						}
					}
				}

				.details {
					p {
						font-size: 1.25em;
						line-height: 1.25em;
					}
				}

			}
		}

	}

	section.column-row {
		background: url(images/turf.jpg) no-repeat center center;
		background-size: cover;
		padding-bottom: 1.5rem;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.item {
			background: $white;
			padding: 30px 20px;
			width: 100%;
			text-align: center;
			margin-bottom: 1.5rem;

			@include tablet {
				width: 47.5%;
			}

			h2.section-header {
				padding: 0 0 25px 0;
				font-weight: 600;
			}

			p {
				font-size: 1.125em;
				line-height: 1.5em;
			}

			h3 {
				padding: 25px 0 50px 0;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 2em;
			}

			.image {
				padding-top: 25px;
			}

		}
	}
	
	section.content-rows {
		padding: 50px 0;
		
		.wrapper {
			max-width: 1200px;
		}

		.game {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			& + .game {
				padding-top: 100px;
			}

			@include tablet {
				&:nth-child(even) {
					.photo {
						order: -1;
					}
				}
			}

			.info {
				width: 100%;
				padding-bottom: 25px;

				@include tablet {
					width: calc(40% - 25px);
					padding-bottom: 0;
				}

				.headline {
					padding: 0 0 10px 0;
					text-align: left;

					h3 {
						color: $green;
						text-transform: uppercase;
						font-size: 2.5em;
					}
				}

				.copy {
					font-size: 1.125em;
					line-height: 1.5;
					padding: 0;
					
					@include tablet {
						font-size: 1.5em;
					}

					a {
						text-decoration: underline;
						color: $red;
					}
				}
			}


			.photo {
				width: 100%;

				@include tablet {
					width: calc(60% - 25px);
				}
			}
		}
	}

	section.tap-list {
		background: $dark-brown;
		color: $white;
		padding: 100px 0;

		.wrapper {
			max-width: 720px;
		}

		.section-header {
			padding-bottom: 2rem;
		}

		.item {
			display: flex;

			& + .item {
				padding-top: 50px;
			}

			.tap {
				width: 15%;
				text-align: right;
				padding: 0 20px 0 0;

				@include tablet {
					padding: 0 50px 0 0;
				}

				strong {
					font-family: $tungsten;
					font-weight: 500;
					font-size: 2.5em;

					@include tablet {
						font-size: 3em;
					}
				}
			}

			.logo {
				max-width: 48px;

				@include tablet {
					max-width: 64px;
				}

				img {
					border-radius: 3px;
				}

			}

			.info {
				flex: 1;
				padding: 0 20px 0 20px;

				@include tablet {
					padding: 0 20px 0 40px;
				}

				h3.beer {
					font-size: 2em;

					@include tablet {
						font-size: 2.5em;
					}
				}

				h4.style {
					text-transform: uppercase;
					font-size: 1.25em;
					letter-spacing: 0.05em;
					color: $yellow;
					padding: 5px 0 0 0;

					@include tablet {
						font-size: 1.5em;
					}
				}

				.details {
					padding: 5px 0 0 0;

					@include tablet {
						padding: 10px 0 0 0;
					}
					p {
						font-size: 1em;

						span {
							display: block;

							& + span {
								padding: 10px 0 0 0;
							}

							@include tablet {
								display: inline-block;

								& + span {
									padding: 0 0 0 10px;
								}
							}

						}
					}
				}
			}

			.remaining {
				width: 5%;
				.meter {
					border: 1px solid rgba(255, 255, 255, 0.2);
					border-radius: 2px;
					width: 10px;
					height: 50px;
					margin-left: auto;


					.amount {
						display: block;
						width: 100%;
						position: absolute;
						bottom: 0;
					}
				}
			}
		}

		.powered-by {
			padding: 100px 0 0 0;

			a {
				display: block;
				max-width: 300px;
				margin: 0 auto;
			}
		}

	}
	
	section.template-section.locations {
		padding: 100px 0;
		text-align: center;

		.locations-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 50px 0 0 0;

			.location {
				width: 100%;
				margin: 0 0 25px 0;

				@include tablet-small {
					width: 47.5%;
				}

				@include tablet {
					width: 30.3333%;
				}

				a {
					display: block;
					width: 100%;
					height: 100%;

					.info {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						background: rgba(0, 0, 0, 0.5);
						transition: background 0.3s ease-in-out;

						strong {
							color: $white;
							text-transform: uppercase;
							letter-spacing: 0.1em;
							font-family: $tungsten;
							font-size: 8em;
							text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
							transform: translateY(10px);
							width: 100%;
							display: block;
						}
						em {
							width: 100%;
							display: block;
							color: $white;
							padding: 5px 0 0 0;
							font-size: 1.5em;
							font-family: $marion-italic;
							font-style: normal;
						}

					}

					&:hover {
						.info {
							background: rgba(0, 0, 0, 0.25);
						}
					}

					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	section.food {
		background: $yellow;
		padding-bottom:  0;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.info {
			background: $white;
			padding: 60px 40px 60px 40px;
			width: 100%;
			transform: translateY(30px);
			margin-top: -30px;
			z-index: 100;
			text-align: center;

			@include tablet {
				width: 50%;
				transform: translateY(75px);
				margin-top: -75px;
			}

			h2.section-header {
				padding: 0 0 25px 0;
			}

			p {
				font-size: 1em;
				line-height: 1.5em;

				& + p {
					padding-top: 15px;
				}

				a {
					text-decoration: underline;
				}
			}

			.hours {
				padding: 50px 0 0 0;

				h4 {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-weight: 600;
					font-size: 1.5em;
					padding: 0 0 5px 0;
				}				
			}

			.cta {
				a + a {
					margin-left: 10px;
				}
			}
		}


		.background-accent {
			width: 100%;
			height: 100px;

			@include tablet {
				height: 200px;
			}
		}

	}

	section.group-events {
		background: $black;

		h2.section-header {
			color: $white;
			padding-bottom: 25px;
		}

		.info {
			max-width: 640px;
			margin: 0 auto;
			text-align: center;
			padding: 0 0 75px 0;
			color: $white;

			p {
				font-size: 1.125em;
				line-height: 1.5em;
			}
		}

		.brochure {
			text-align: center;

			a {
				display: inline-block;
				font-family: $tungsten;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 2.5em;
				font-weight: 600;
				color: $white;
				text-decoration: underline;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	
	section.left-aligned-text {
		padding: 100px 0;
		
		.wrapper {
			max-width: 1200px;
		}
		
		.copy {
			padding: 25px 0 0;
			max-width: 720px;
			margin: 0 auto;

			@include tablet {
				padding: 100px 0 0;
			}

			p {
				font-size: 1.125em;
				line-height: 1.5;

				& + p {
					padding: 25px 0 0;
				}

				@include tablet {
					font-size: 1.5em;
				}
			}
		}
	}

	section.centered-text {
		text-align: center;
		padding: 100px 0;
		
		p {
			font-size: 1.25em;
			line-height: 1.5;
		}
		
		a {
			color: #00833C;
		}
	}
	
	section.press {
		padding: 100px 0;

		.clip {
			text-align: center;
			max-width: 480px;
			margin: 0 auto;

			& + .clip {
				padding-top: 50px;
			}

			h4 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-weight: bold;
				font-size: 1.5em;
				color: $green;

			}

			h3 {
				font-family: $marion-regular;
				font-size: 1.5em;
				line-height: 1.25em;

				a {

					&:hover {
						text-decoration: underline;
					}
				}

			}
		}
	}

	section#contact {
		margin: 0;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h2.section-header {
			width: 100%;
			padding-bottom: 25px;
		}

		.info {
			width: 100%;

			@include tablet {
				width: 47.5%
			}
		}

		.detail {

			& + .detail {
				padding: 50px 0 0 0;
			}

			h3 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 2em;
				padding: 0 0 5px 0;
			}

			p {
				font-size: 1.125em;
				line-height: 1.5em;

				a {
					text-decoration: underline;
				}
			}
		}

		.map {
			width: 100%;
			padding: 50px 0 0 0;

			iframe {
				height: 400px;
				width: 100%;
			}

			@include tablet {
				width: 47.5%;
				padding: 0;
				overflow: hidden;

				iframe {
					height: 500px;
				}
			}
		}
	}
}


body#south-lake-union section.food {
	background: #9fcdb1;
}

body#kirkland section.food {
	background: #e8e8e5;
}

body#south-lake-union section#hero .main-image h1 {
	font-size: 3em;

	@include tablet-small {
		font-size: 5em;
	}

	@include tablet {
		font-size: 7em;
	}

	@include desktop-small {
		font-size: 10em;
	}

	@include desktop-medium {
		font-size: 11em;
	}
}

body#bellingham section#hero .main-image h1 {
	@include desktop-medium {
		font-size: 12em;
	}
}

body#tacoma section#hero .main-image h1 {
	@include desktop-medium {
		font-size: 10rem;
	}
}