header {
	padding: 30px 0;

	@include desktop-small {
		padding: 60px 0;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		max-width: 100%;
		padding: 0 25px;

		@include desktop-small {
			padding: 0 50px;
		}
	}

	.logo {
		a {
			display: block;
			max-width: 72px;

			@include tablet-small {
				max-width: 120px;
			}

			@include desktop-small {
				max-width: 150px;
			}
		}
	}

	

	#toggle {
	    cursor: pointer;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	    z-index: 10001;
	    display: block;
		width: 48px;
	    padding: 17px 0;


		.patty {
		    width: 48px;
		    height: 2px;
		    background: $slate;
		    transition: all 0.3s;
		    margin-left: auto;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 48px;
			    height: 2px;
			    background: $slate;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			}
			&:before {
			    top: -10px;
			}
			&:after {
			    top: 10px;
			}
		}
	}

	&.open {
		z-index: 10001;

		#toggle .patty {
			background: none;

			&:after {
			    top: 0;
			    transform: rotate(45deg);
			}
			&:before {
			    top: 0;
			    transform: rotate(-45deg);
			}
		}

	}


}



#page {
	transition: all 0.3s ease-in-out;

	&.open {
		transform: translateX(-75%);

		@include tablet {
			transform: translateX(-50%);
		}

		@include desktop-medium {
			transform: translateX(-33.3333%);
		}
	}
}


nav {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background: $dark-green;
	color: $white;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	transition: all 0.3s ease-in-out;

	a {
		color: $white;
	}

	&.open {
		transform: translateX(25%);

		@include tablet {
			transform: translateX(50%);
		}

		@include desktop-medium {
			transform: translateX(66.6667%);
		}
	}

	.nav-wrapper {
		height: 100vh;
		padding: 30px 50px 50px 50px;
		width: 75%;
		overflow: scroll;

		@include tablet {
			width: 50%;
		}

		@include desktop-medium {
			width: 33.3333%;
			padding: 60px 50px;
		}


		.info {

			.logo {
				max-width: 96px;
				padding: 0 0 25px 0;

				@include tablet {
					padding: 0 0 50px 0;
				}
			}

			.links {
				padding: 25px 0;
				border-top: 3px solid rgba(255, 255, 255, 1);
				border-bottom: 3px solid rgba(255, 255, 255, 1);

				@include tablet {
					padding: 50px 0;
				}

				a {
					display: block;
					font-family: $tungsten;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 1.5em;
					font-weight: 600;

					@include tablet {
						font-size: 1.75em;
					}

					& + a {
						margin-top: 10px;
					}

					&:hover {
						color: $red;
					}
				}
			}

			.locations {
				padding: 25px 0 0 0;

				h5 {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 1.5em;
					font-weight: 600;
					width: 100%;
					padding: 0 0 10px 0;

					@include tablet {
						font-size: 1.75em;
					}
				}

				&-grid {
					display: grid;
					grid-gap: 10px;
					grid-template-columns: 1fr 1fr;

					@include tablet {
						grid-template-columns: 1fr 1fr 1fr;
					}
				}

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					font-family: $tungsten;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 1.5em;
					line-height: 1em;
					font-weight: 600;
					padding: 12px 16px 8px 16px;
					color: $white;
					background: $black;
					text-align: center;

					.coming-soon {
						padding-top: 0;
						display: flex;
						align-items: center;
						justify-content: center;
						order: -1;
						margin-left: -16px;
						margin-right: 2px;

						&:before,
						&:after {
							content: '';
							display: block;
							width: 8px;
							height: 8px;
							background: $yellow;
							border-radius: 50%;
							opacity: 0.8;
						}

						&:after {
							background: $red;
							transform: translateX(-2px);
						}
					}

					&:hover {
						color: $white;
						background: $black;
					}
				}
			}

			.utility-nav {
				padding: 10px 0 0 0;
				display: grid;
				gap: 10px;
				grid-template-columns: repeat(2, 1fr);



				a {
					display: block;
					font-family: $tungsten;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 1.25em;
					line-height: 1em;
					font-weight: 600;
					padding: 10px;
					width: 100%;
					text-align: center;
					background: $yellow;
					color: $slate;

					@include tablet {
						font-size: 1.125em;
					}

					@include desktop-small {
						font-size: 1.25em;
					}

					span {
						padding: 12px 15px 10px 15px;
						display: block;
						border: 1px solid $black;
					}
				}
			}

			.social-nav {
				padding: 25px 0 0 0;
				display: flex;
				flex-wrap: wrap;

				@include tablet {
					margin: 50px 0 0 0;
					border-top: 3px solid rgba(255, 255, 255, 1);
					padding: 50px 10px 0 10px;
				}

				h5 {
					text-transform: uppercase;
					letter-spacing: 0.15em;
					font-size: 0.75em;
					width: 100%;
					padding: 0 0 25px 0;
					display: none;
				}

				a {
					display: block;

					& + a {
						margin-left: 25px;
					}

					img {
						width: 100%;
						max-width: 32px;
					}

				}
			}


		}
	}
}

