body.home {

	header {
		position: absolute;
		z-index: 1000;
		width: 100%;
		top: 0;
		left: 0;

		#toggle {
			.patty {
			    background: $white;

				&:after, &:before {
				    background: $white;
				}
			}

		}

		&.open {
			#toggle {
				.patty {
					background: none;
				}				
			}
		}
	}

	section#video-hero {
		background-color: $black;
		width: 100%;
		overflow: hidden;
		@include aspect-ratio(16, 9);

		&:after {
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0);
			z-index: 100;
		}

		.video-container {
			width: 100%;
			height: 100%;
			background: #111;
		}

		.video-box{
			position: absolute;
			width: 104%;
			height: 100%;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			overflow: hidden;

			iframe {
			    position: absolute;
			    top: 0;
			    left: 0;
				bottom: 0;
				right: 0;
			    width: 100%;
			    height: 100%;
			    object-fit: cover;
			}

			/* Video background */

			.videobg {
			  position: relative;
			  width: 100%; /* Set video container element width here */
			  height: 100%; /* Set video container element height here */
			  overflow: hidden;
			  background: #111; /* bg color, if video is not high enough */
			}

			/* horizontally center the video */
			.videobg-width {
			  position: absolute;
			  width: 100%; /* Change width value to cover more area*/
			  height: 100%;
			  left: -9999px;
			  right: -9999px;
			  margin: auto;
			}

			/* set video aspect ratio and vertically center */
			.videobg-aspect {
			  position: absolute;
			  width: 100%;
			  height: 0;
			  top: -9999px;
			  bottom: -9999px;
			  margin: auto;
			  padding-bottom: 56.25%; /* 16:9 ratio */
			  overflow: hidden;
			  
			}

			.videobg-make-height {
			  position: absolute;
			  top: 0; right: 0; bottom: 0; left: 0;
			}

			.videobg-hide-controls {
			  box-sizing: content-box;
			  position: relative;
			  height: 100%;
			  width: 100%;
			  /* Vimeo timeline and play button are ~55px high */
			  padding: 55px 97.7777px; /* 16:9 ratio */
			  top: -55px; 
			  left: -97.7777px; /* 16:9 ratio */
			}

			.videobg iframe {
			  position: absolute;
			  width: 100%;
			  height: 100%;
			  top: 0;
			  left: 0;
			  border: 0 none;
			}

		}



		.down {
			display: block;
			width: 100%;
			position: absolute;
			bottom: 20px;
			left: 0;
			z-index: 10000;
			animation: arrow-hover 0.8s ease-in;
			animation-iteration-count: infinite;
			transform: translate3d(0, 0, 0);


			@keyframes arrow-hover {
				0% {
					transform: translate3d(0, 0, 0);
				}

				25% {
					transform: translate3d(0, -5px, 0);
				}

				50% {
					transform: translate3d(0, 0, 0);
				}

				75% {
					transform: translate3d(0, 5px, 0);
				}
			}

			img {
				width: 24px;
				margin: 0 auto;
			}
			
		}
	}


	section#about {
		padding: 50px 0 0 0;
		text-align: center;

		@include tablet {
			padding: 100px 0 0 0;
		}

		.wrapper {
			max-width: 640px;
		}

		.info {
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			padding-bottom: 50px;

			@include tablet {
				padding-bottom: 100px;
			}
		}

		h3 {
			color: $red;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 1.75em;
			font-weight: bold;
			padding: 0 0 20px 0;
		}

		p {
			font-family: $tungsten;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 1.5rem;

			@include tablet {
				font-size: 2.75rem;
			}
		}
	}


	section#locations {
		padding: 100px 0;
		text-align: center;

		.locations-wrapper {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 20px;

			@include tablet-small {
				grid-template-columns: 1fr 1fr;
			}

			@include tablet {
				grid-template-columns: 1fr 1fr 1fr;
			}

			padding: 50px 0 0 0;

			.location {
				height: 300px;

				a {
					display: block;
					width: 100%;
					height: 100%;

					.info {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						background: rgba(0, 0, 0, 0.5);
						transition: background 0.3s ease-in-out;

						strong {
							color: $white;
							text-transform: uppercase;
							letter-spacing: 0.1em;
							font-family: $tungsten;
							font-size: 6rem;
							text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
							transform: translateY(10px);
							width: 100%;
							display: block;

							@include desktop-small {
								font-size: 7rem;
							}
						}
						em {
							width: 100%;
							display: block;
							color: $white;
							padding: 5px 0 0 0;
							font-size: 1.25rem;
							font-family: $marion-italic;
							font-style: normal;

							@include tablet {
								font-size: 1.5rem;
							}
						}

						.coming-soon {
							padding-top: 10px;
							h5 {
								color: $white;
								text-transform: uppercase;
								letter-spacing: 0.05em;
								font-size: 1.125rem;
								display: flex;
								align-items: center;

								&:before,
								&:after {
									content: '';
									display: block;
									width: 8px;
									height: 8px;
									background: $yellow;
									border-radius: 50%;
									opacity: 0.8;

								}

								&:before {
									order: 1;
								}

								&:after {
									order: 2;
									background: $red;
									transform: translateX(-2px);
								}

								.text {
									order: 3;
									padding-left: 8px;
								}
							}
						}

					}

					&:hover {
						.info {
							background: rgba(0, 0, 0, 0.25);
						}
					}

					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}