body.page-template-location {

	header {
		.header-contact {
			display: none;

			@include tablet {
				display: block;
				width: 50%;
			}

			@include desktop-small {
				padding-top: 25px;
			}

			h2 {
				text-transform: uppercase;
				letter-spacing: 0.075em;
				font-size: 2.25em;

				@include desktop-medium {
					font-size: 3em;
				}
			}

			.info {
				padding: 10px 0 0 0;

				p {
					font-size: 1em;
					line-height: 1.25em;

					& + p {
						padding: 5px 0 0 0;
					}

					a:hover {
						text-decoration: underline;
					}
				}
			}


			.utility-nav {
				padding: 20px 0 0 0;
				display: flex;

				a {
					display: block;
					font-family: $tungsten;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 1.25em;
					line-height: 1em;
					font-weight: 600;
					padding: 10px;					
					margin: 0 0 15px 0;
					width: 100%;
					text-align: center;
					background: $yellow;
					color: $slate;

					span {
						display: block;
						padding: 14px 22px 12px 22px;
						border: 1px solid $black;
					}

					@include tablet-small {
						width: 47.5%;
						max-width: 200px;
						margin: 0;
					}

					& + a {
						margin-left: 15px;
					}
				}
			}

		}
	}

	section#hero {

		@include tablet {
			margin-bottom: 30px;
		}

		.main-image {
			@include aspect-ratio(16, 9);
			&:after {
				display: block;
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(0, 0, 0, 0.2);
				z-index: 100;
			}

			.info {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 200;
			}

			h1 {
				text-align: center;
				text-transform: uppercase;
				font-size: 6em;
				color: $white;
				letter-spacing: 0.1em;
				line-height: 0.875em;

				&#south-lake-union {
					font-size: 4em;
				}

				@include tablet {
					font-size: 12em;

					&#south-lake-union {
						font-size: 8em;
					}
				}

				@include desktop-small {
					font-size: 16em;


					&#south-lake-union {
						font-size: 14em;
					}
				}

				@include desktop-medium {
					font-size: 24em;
					line-height: 0.8125em;

					&#south-lake-union {
						font-size: 18em;
					}
				}

			}

		}

		.gallery {
			padding: 10px 0 25px 0;
			margin: 0 0 25px 0;

			@include tablet {
				padding: 25px 0;
			}
			
			.image {
				padding: 0 5px;

				@include tablet {
					padding: 0 10px;
				}

				&:focus,
				&:active {
					outline: none;
				}

			}

			.slick-dots {
				bottom: -5px;

			    li {

			        button {
			        	opacity: 1;
		
			            &:before {
			                background-color: $green;
			                opacity: 1;

			            }
			        }
			        &.slick-active button:before {
			        	background-color: $dark-green;

			        }
			    }
			}

		}

	}

	section#location-nav {
		display: none;

		@include tablet {
			display: block;
			position: sticky;
			background: #e8e8e5;
			top: 0;
			z-index: 1000;
			padding: 20px 0;
		}

		.links {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			white-space: nowrap;

			&:empty {
				padding: 0;
			}
		}

		a {
			display: block;
			margin: 0 20px;
			font-size: 1.25em;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	section.location-section {
		padding: 50px 0;

		.wrapper {
			max-width: 960px;
		}

		h2.section-header {
			text-align: center;
			padding: 0 0 50px 0;
		}

		& + section.location-section {
			margin-top: 25px;
		}
	}


	section.weekly-happenings {
		background: $dark-green;
		color: $white;

		@include tablet {
			margin-top: 30px;
		}

		.events {
			display: flex;
			justify-content: center;
			align-items: stretch;
			flex-wrap: wrap;
			padding: 0 0 50px 0;

			.event {
				width: 100%;
				text-align: center;
				border: 3px solid $green;
				padding: 30px 20px;
				display: flex;
				flex-direction: column;
				justify-content: center;

				& + .event {
					margin-top: 25px;
				}

				@include tablet-small {
					width: 30.8333%;
					margin: 0 1.25%;
					
					& + .event {
						margin-top: 0;
					}
				}

				.time {
					padding: 0 0 20px 0;

					h4 {
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-size: 2em;
						font-weight: 600;
						line-height: 1.25em;

						@include tablet-small {
							font-size: 1.25em;
						}

						@include tablet {
							font-size: 1.5em;
						}

					}

				}

				.title {
					border-top: 3px solid $green;
					border-bottom: 3px solid $green;
					padding: 15px;

					h3 {
						text-transform: uppercase;
						letter-spacing: 0.1em;
						font-weight: 600;
					}
				}
			}
		}

		.specials {
			display: flex;
			justify-content: center;
			align-items: stretch;
			flex-wrap: wrap;
			padding: 0 0 25px 0;

			.special {
				width: 100%;
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;

				& + .special {
					margin-top: 50px;
				}

				@include tablet-small {
					width: 47.5%;
					
					& + .special {
						margin-top: 0;
					}
				}

				.title {
					padding: 0;

					h3 {
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-size: 1.5em;
						font-weight: 600;
						line-height: 1.25em;

						@include tablet {
							font-size: 3em;
						}

					}
				}

				.time {
					padding: 0 0 5px 0;

					h4 {
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-size: 2em;
						font-weight: 600;
						line-height: 1.25em;

						@include tablet-small {
							font-size: 1.25em;
						}

						@include tablet {
							font-size: 1.5em;
						}
					}
				}

				.details {
					p {
						font-size: 1.25em;
						line-height: 1.25em;
					}
				}

			}
		}

	}

	section.games {
		background: url(images/turf.jpg) no-repeat center center;
		background-size: cover;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.game {
			background: $white;
			padding: 30px 20px;
			width: 100%;
			text-align: center;

			& + .game {
				margin-top: 25px;
			}

			@include tablet {
				width: 47.5%;

				& + .game {
					margin-top: 0;
				}
			}

			h2.section-header {
				padding: 0 0 25px 0;
				font-weight: 600;
			}

			p {
				font-size: 1.125em;
				line-height: 1.5em;
			}

			h3 {
				padding: 25px 0 50px 0;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 2em;
			}

			.cta {
				a {
					display: inline-block;
					font-family: $tungsten;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 1.5em;
					line-height: 1em;
					font-weight: 600;
					padding: 10px;
					text-align: center;
					background: $yellow;
					color: $slate;					

					span {
						display: block;
						padding: 14px 22px 12px 22px;
						border: 1px solid $black;
					}

				}
			}

			.image {
				padding-top: 25px;
			}

		}
	}

	section.tap-list {
		background: $dark-brown;
		color: $white;
		padding: 100px 0;

		.wrapper {
			max-width: 720px;
		}

		.item {
			display: flex;

			& + .item {
				padding-top: 50px;
			}

			.tap {
				width: 15%;
				text-align: right;
				padding: 0 20px 0 0;

				@include tablet {
					padding: 0 50px 0 0;
				}

				strong {
					font-family: $tungsten;
					font-weight: 500;
					font-size: 2.5em;

					@include tablet {
						font-size: 3em;
					}
				}
			}

			.logo {
				max-width: 48px;

				@include tablet {
					max-width: 64px;
				}

				img {
					border-radius: 3px;
				}

			}

			.info {
				flex: 1;
				padding: 0 20px 0 20px;

				@include tablet {
					padding: 0 20px 0 40px;
				}

				h3.beer {
					font-size: 2em;

					@include tablet {
						font-size: 2.5em;
					}
				}

				h4.style {
					text-transform: uppercase;
					font-size: 1.25em;
					letter-spacing: 0.05em;
					color: $yellow;
					padding: 5px 0 0 0;

					@include tablet {
						font-size: 1.5em;
					}
				}

				.details {
					padding: 5px 0 0 0;

					@include tablet {
						padding: 10px 0 0 0;
					}
					p {
						font-size: 1em;

						span {
							display: block;

							& + span {
								padding: 10px 0 0 0;
							}

							@include tablet {
								display: inline-block;

								& + span {
									padding: 0 0 0 10px;
								}
							}

						}
					}
				}
			}

			.remaining {
				width: 5%;
				.meter {
					border: 1px solid rgba(255, 255, 255, 0.2);
					border-radius: 2px;
					width: 10px;
					height: 50px;
					margin-left: auto;


					.amount {
						display: block;
						width: 100%;
						position: absolute;
						bottom: 0;
					}
				}
			}
		}

		.powered-by {
			padding: 100px 0 0 0;

			a {
				display: block;
				max-width: 300px;
				margin: 0 auto;
			}
		}

	}

	section.food {
		background: $yellow;
		padding-bottom:  0;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.info {
			background: $white;
			padding: 60px 40px 60px 40px;
			width: 100%;
			transform: translateY(30px);
			margin-top: -30px;
			z-index: 100;
			text-align: center;

			@include tablet {
				width: 50%;
				transform: translateY(75px);
				margin-top: -75px;
			}

			h2.section-header {
				padding: 0 0 25px 0;
			}

			p {
				font-size: 1em;
				line-height: 1.5em;

				& + p {
					padding-top: 15px;
				}

				a {
					text-decoration: underline;
				}
			}

			.hours {
				padding: 50px 0 0 0;

				h4 {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-weight: 600;
					font-size: 1.5em;
					padding: 0 0 5px 0;
				}				
			}

			.cta {
				padding: 50px 0 0 0;

				a {
					display: inline-block;
					font-family: $tungsten;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 1.5em;
					line-height: 1em;
					font-weight: 600;
					padding: 10px;
					text-align: center;
					background: $black;
					color: $white;					

					span {
						display: block;
						padding: 14px 22px 12px 22px;
						border: 1px solid $white;
					}
				}
			}
		}


		.background-accent {
			width: 100%;
			height: 100px;

			@include tablet {
				height: 200px;
			}
		}

	}

	section.group-events {
		background: $black;

		h2.section-header {
			color: $white;
		}

		.info {
			max-width: 640px;
			margin: 0 auto;
			text-align: center;
			padding: 0 0 75px 0;
			color: $white;

			p {
				font-size: 1.125em;
				line-height: 1.5em;
			}
		}

		.brochure {
			text-align: center;

			a {
				display: inline-block;
				font-family: $tungsten;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 2.5em;
				font-weight: 600;
				color: $white;
				text-decoration: underline;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.cta {
			padding: 50px 0 0 0;
			text-align: center;

			a {
				display: inline-block;
				font-family: $tungsten;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 1.5em;
				line-height: 1em;
				font-weight: 600;
				padding: 10px;
				text-align: center;
				background: $yellow;
				color: $slate;					

				span {
					display: block;
					padding: 14px 22px 12px 22px;
					border: 1px solid $black;
				}
			}
		}
	}

	section.coming-soon {
		text-align: center;
		padding: 100px 0 100px 0;

		@include tablet {
			padding: 200px 0 200px 0;
		}

		h2 {
			padding-bottom: 50px;
		}

		p {
			font-size: 1.25em;
			line-height: 1.5em;
		}
	}

	section#contact {
		margin: 0;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h2.section-header {
			width: 100%;
		}

		.info {
			width: 100%;

			@include tablet {
				width: 47.5%
			}
		}

		.detail {

			& + .detail {
				padding: 50px 0 0 0;
			}

			h3 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 2em;
				padding: 0 0 5px 0;
			}

			p {
				font-size: 1.125em;
				line-height: 1.5em;

				a {
					text-decoration: underline;
				}
			}
		}

		.map {
			width: 100%;
			padding: 50px 0 0 0;

			iframe {
				height: 400px;
			}

			@include tablet {
				width: 47.5%;
				padding: 0;
				overflow: hidden;

				iframe {
					height: 500px;
				}
			}
		}
	}
}

main.south-lake-union section.food {
	background: #9fcdb1;
}

main.kirkland section.food {
	background: #e8e8e5;
}