body.page-template-membership {

	section#main {
		padding: 50px 0 100px 0;

		@include desktop-small {
			padding-top: 0;
		}

		.membership {
			text-align: center;

			& + .membership {
				padding-top: 100px;
				border-top: 1px solid $white;
				margin-top: 100px;
			}


			&-header {

				.headline {
					h2 {
						color: $green;
						font-size: 3em;
						text-transform: uppercase;
						letter-spacing: 0.02em;

						@include tablet-small {
							font-size: 4em;
						}

						@include desktop-small {
							font-size: 5em;
							line-height: 0.875em;
							padding-bottom: 10px;
						}
					}
				}

				.sub-headline {
					h3 {
						color: $red;
						font-size: 1.5em;

						@include tablet-small {
							font-size: 2em;
						}

		
					}
				}

				.photo {
					margin: 25px 0;
					@include aspect-ratio(4, 3);

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.deck {
					p {
						font-size: 1.125em;
						line-height: 1.25em;

						@include desktop-small {
							font-size: 1.25em;
							line-height: 1.5em;
						}
					}
				}

				.cost {
					padding-top: 50px;

					h4 {
						text-transform: uppercase;
						color: $red;
						font-size: 1.5rem;
						padding-bottom: 5px;

						@include desktop-small {
							font-size: 1.75rem;
						}
					}

					h2 {
						font-size: 3rem;
						color: $green;
						text-transform: uppercase;

						@include desktop-small {
							font-size: 5rem;
						}

						span {
							font-size: 1.5rem;
							display: block;
							text-transform: none;
							color: $slate;

							@include desktop-small {
								font-size: 2rem;
							}
						}
					}
				}
			}

			&-details {
				padding-top: 50px;

				p {
					font-size: 1.125em;
					line-height: 1.25em;

					@include desktop-small {
						font-size: 1.25em;
						line-height: 1.5em;
					}

					a {
						color: $red;
						text-decoration: underline;
					}
				}

				.apps {
					display: flex;
					width: 100%;
					padding-top: 25px;
					justify-content: center;

					a {
						display: block;

						& + a {
							margin-left: 10px;
						}

						img {
							max-height: 48px;
						}
					}
				}
			}
		}


		@include tablet {

			.wrapper {
				display: flex;
				justify-content: space-between;
			}

			.membership {
				width: 50%;
			
				& + .membership {
					padding-top: 0;
					margin-top: 0;
					border-top: none;
				}

				&.beer-club {
					order: -1;
					padding-right: 50px;

					.membership-details {
						padding-top: 25px;
					}
				}

				&.flatstick-membership {
					border-left: 1px solid $white;
					padding-left: 50px;
				}
			}
		}



	}
}