body.page-template-default {

	section.generic {
		padding-bottom: 100px;

		.wrapper {
			max-width: 800px;
		}

		section.page-header {
			padding-bottom: 25px;

			h1 {
				font-size: 2em;
				text-transform: uppercase;
				font-weight: bold;
				color: $green;

				@include tablet {
					font-size: 3em;
				}
			}
		}

		section.page-body {
			h3 {
				font-family: $tungsten;
				color: $green;
				font-size: 1.75em;
				padding-bottom: 10px;
			}

			p {
				font-size: 1.125em;
				line-height: 1.125em;
				margin-bottom: 25px;

				@include tablet {
					font-size: 1.25em;
				}
			}

			a {
				color: $red;
				text-decoration: underline;
			}
		}
	}
}