body.page-template-plan-an-event {



	section.main {
		@include tablet {
			min-height: 60vh;
		}

		.header {
			text-align: center;
			padding: 0 0 20px 0;

			h2 {
				font-size: 3em;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				color: $dark-green;

				@include tablet {
					font-size: 5em;
				}
			}
		}

		.tabs {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			h4 {
				font-size: 1.5em;
				width: 100%;
				text-align: center;
				padding: 0 0 20px 0;
				font-family: $marion-italic;
				color: $dark-green;
			}

			a {
				color: $dark-green;
				font-family: $tungsten;
				font-size: 1.25em;
				display: block;
				margin: 0 10px;
				padding: 8px 20px 5px 20px;
				border-radius: 12px;
				border: 1px solid $dark-green;

				@include tablet {
					font-size: 1.75em;
					padding: 12px 30px 9px 30px;
				}

				&.active,
				&:hover {
					background: $dark-green;
					color: $white;
				}
			}
		}

		#notice {
			padding: 2rem 0 6rem 0; 
			color: $slate;
			margin: 0 auto;			
			max-width: 600px;
			text-align: center;


			h3 {
				font-size: 1.5em;
				line-height: 1.25em;
				font-family: $tungsten;

				@include tablet {
					font-size: 2em;
				}
			}
			p {
				font-size: 1.125em;
				line-height: 1.25em;
				font-family: $marion-regular;
			}
		}



		.form {
			padding-bottom: 50px;
		
			h3 {
				text-align: center;
				font-size: 3em;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				padding: 0 0 25px 0;

			}

			&.event-form {
				.form-wrapper {
					max-width: 325px;
					width: 100%;
					margin: 0 auto;

					@include tablet {
						max-width: 100%;
					}

					iframe {
				        width: 1px;
				        min-width: 100%;
				        *width: 100%;
				        height: 800px;
					}

					a {
						display: block;
						margin: 0 auto;
						width: 100%;
						max-width: 204px;
					}
				}
			}
		}
	}
}