body.page-template-sunday-fundraise {

	section#main {
		padding-bottom: 50px;
		min-height: auto;

		@include tablet {
			padding-bottom: 100px;
		}

		.headline {
			text-align: center;
			padding: 0 0 50px 0;

			h1 {
				text-align: center;
				text-transform: uppercase;
				font-size: 3em;
				color: $red;
				font-weight: bold;
				letter-spacing: 0.1em;
				line-height: 0.875em;

				@include tablet {
					font-size: 4em;
				}

				@include desktop-small {
					font-size: 6em;
				}
			}
		}

		.intro.copy {
			max-width: 720px;
			margin: 0 auto;
			text-align: center;

			p {
				font-size: 1.5em;
				line-height: 1.25em;
			}
		}

		.total {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			padding-top: 50px;

			.graphic,
			.details {
				width: 100%;

				@include tablet {
					width: calc(50% - 25px);
				}

			}

			.graphic {
				@include tablet {
					img {
						margin-left: auto;
					}
				}
			}

			.details {
				h3 {
					font-size: 2em;
					line-height: 1em;
					color: $red;

					@include tablet {
						font-size: 3em;
					}

					@include desktop-small {
						font-size: 4em;
					}

					span.amount {
						color: $green;
						font-size: 1.5em;
						display: block;
						padding-top: 20px;
					}
				}
			}
		}

	}
	
	section.charities {
		background: $white;
		padding: 50px 0;

		@include tablet {
			padding: 100px 0;
		}

		.section-header {
			text-align: center;
			padding-bottom: 50px;

			h2 {
				color: $green;
				font-size: 2.5em;

				@include tablet {
					font-size: 3.5em;
				}
			}

			.copy {
				padding-top: 10px;
			}
		}

		.grid {
			display: grid;
			grid-template-columns: 1fr;
			gap: 50px;
			max-width: 720px;
			margin: 0 auto;

			@include tablet-small {
				grid-template-columns: 1fr 1fr;
			}

			@include tablet {
				grid-template-columns: 1fr 1fr 1fr;
			}

			.item {
				max-width: 150px;
				margin: 0 auto;

				.location-header {
					padding-bottom: 10px;
					text-align: center;

					h5 {
						font-size: 1.5em;
						letter-spacing: 0.05em;
						color: $red;
						border-bottom: 2px solid;
						display: inline-block;
					}
				}


				a {
					display: block;
				}
			}
		}
	}

	section.partner {
		padding: 50px 0;

		@include tablet {
			padding: 100px 0;
		}

		.wrapper {
			max-width: 640px;
		}

		.section-header {
			text-align: center;
			padding-bottom: 25px;

			h2 {
				color: $green;
				font-size: 2.5em;

				@include tablet {
					font-size: 3.5em;
				}
			}
		}

		.details {
			text-align: center;
			padding-top: 25px;

			p {
				font-size: 1.25em;
				line-height: 1.5em;

				& + p {
					padding-top: 20px;
				}
			}
		}

		.partner-form {
			max-width: 480px;
			margin: 0 auto;

			div.wpforms-container-full .wpforms-form label.wpforms-error {
				display: block;
				padding-top: 5px;
			}


			div.wpforms-container-full .wpforms-form button[type="submit"] {
				display: block;
				font-family: $tungsten;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 1.25em;
				line-height: 1em;
				font-weight: 600;
				padding: 10px;
				width: 100%;
				max-width: 160px;
				text-align: center;
				background: $yellow;
				color: $slate;
			}
		}

		.note {
			max-width: 480px;
			margin: auto;
			padding: 50px 0 25px 0;
			text-align: center;

			p {
				font-style: italic;

				a {
					color: $red;
					text-decoration: underline;
				}
			}
		}
	}
}