body.page-template-upcoming-events {

	section#main {
		padding-bottom: 100px;
	}

	.headline {
		text-align: center;
		padding: 0 0 50px 0;

		h1 {
			text-align: center;
			text-transform: uppercase;
			font-size: 3em;
			color: $black;
			font-weight: bold;
			letter-spacing: 0.1em;
			line-height: 0.875em;


			@include tablet {
				font-size: 4em;

			}

			@include desktop-small {
				font-size: 6em;
			}
		}
	}

	.events {
		max-width: 840px;
		margin: 0 auto;
		padding: 50px 0 0 0;

		.event {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			& + .event {
				padding-top: 75px;

				@include tablet {
					padding-top: 125px;
				}
			}

			.image {
				width: 100%;
				padding-bottom: 20px;

				@include tablet {
					width: 33.3333%;
					padding-bottom: 0;
				}
			}

			.info {
				width: 100%;

				@include tablet {
					width: 60%;
				}

				h4.date {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 1.25em;
					padding: 0 0 5px 0;
				}

				h3 {
					font-size: 2.5em;
					color: $green;
					padding: 0 0 10px 0;
				}

				h4.location {
					font-family: $marion-italic;
					font-size: 1.25em;
				}

				.description {
					padding: 25px 0;

					p {
						font-size: 1.125em;
						line-height: 1.25em;

						& + p {
							padding-top: 10px;
						}

						a {
							color: $red;
							text-decoration: underline;
						}
					}
				}

				.cta {
					a {
						display: inline-block;
						color: $white;
						background: $red;
						padding: 10px 20px 8px 20px;
						font-family: $tungsten;
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-size: 1.5em;
					}
				}
			}


		}
	}

	
}