body {
	background: #e8e8e5;
}

.wrapper {
	@include wrapper-padding;

}

section#main {
	min-height: 600px;
}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.modal {
	display: none;


	&.open {
		display: block;
		min-height: 100vh;
		width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 100001;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.wrapper {
		max-width: 640px;
		padding: 0;
	}

	.content {
		color: $white;
		background: $dark-green;
		padding: 75px 25px 75px 25px;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		min-height: 100vh;

		@include desktop-medium {
			padding: 150px 25px;
		}
	}

	.header {
		text-align: center;
		padding: 0 0 20px 0;

		h2 {
			font-size: 3em;
			text-transform: uppercase;
			letter-spacing: 0.05em;

			@include tablet {
				font-size: 5em;
			}
		}
	}


	#event-info {
		text-align: center;
		padding-top: 50px;

		.copy {
			max-width: 420px;
			margin: 0 auto;

			p {
				font-size: 1.125em;
				line-height: 1.25em;
			}
		}

		.cta {
			padding-top: 25px;

			a {
				display: inline-block;
				font-family: $tungsten;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 1.25em;
				line-height: 1em;
				font-weight: 600;
				padding: 10px;
				text-align: center;
				background: $yellow;
				color: $slate;

				span.link-wrapper {
					padding: 12px 15px 10px 15px;
					display: block;
					border: 1px solid $black;
				}
			}
		}
	}

	.tabs {
		@include tablet {
			padding-top: 20px;
		}
	}

	.form {
	
		h3 {
			text-align: center;
			font-size: 3em;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			padding: 0 0 25px 0;

		}

		&.event-form {
			.form-wrapper {
				max-width: 325px;
				width: 100%;
				margin: 0 auto;

				@include tablet {
					max-width: 100%;
				}

				iframe {
			        width: 1px;
			        min-width: 100%;
			        *width: 100%;
			        height: 800px;
				}

				a {
					display: block;
					margin: 0 auto;
					width: 100%;
					max-width: 204px;
				}
			}
		}
	}
}

	.tabs {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		h4 {
			font-size: 1.5em;
			width: 100%;
			text-align: center;
			padding: 0 0 20px 0;
			font-family: $marion-italic;
		}
		a {
			color: $white;
			font-family: $tungsten;
			font-size: 1.25em;
			display: block;
			margin: 0 10px;
			padding: 8px 20px 5px 20px;
			border-radius: 12px;
			border: 1px solid $white;

			@include tablet {
				font-size: 1.5em;
				padding: 12px 30px 9px 30px;
			}

			&.active,
			&:hover {
				background: $white;
				color: $slate;
			}

		}
	}


.overlay {
	width: 100%;
	height: 100%;
	background: $dark-green;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	.close {
		display: block;
		width: 100%;
		max-width: 24px;
		position: absolute;
		top: 24px;
		right: 24px;
		z-index: 100000;
	}
}