html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $marion-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $tungsten;
	font-weight: 500;
}

p {

}

a {
	color: $slate;
	transition: all 0.3s ease-in-out;
}

h2.section-header {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 3em;
	font-weight: 600;

	@include tablet {
		font-size: 4em;
	}

	@include desktop-medium {
		font-size: 5em;
	}
}
