/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #D3D2D3;
$mid-gray: #7B7977;
$charcoal: #424242;
$slate: #1a1a1a;
$black: #000;

$red: #D13239;
$green: #008445;
$dark-green: #2A5236;
$yellow: #FFCA38;
$dark-brown: #241F21;

$blue: #434758;




/* Typography
----------------------------------*/
@font-face {
    font-family: 'Tungsten';
    src: url('fonts/Tungsten-Semibold.woff2') format('woff2'),
        url('fonts/Tungsten-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Tungsten';
    src: url('fonts/Tungsten-Medium.woff2') format('woff2'),
        url('fonts/Tungsten-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Marion Regular';
    src: url('fonts/Marion-Regular.woff2') format('woff2'),
        url('fonts/Marion-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marion Italic';
    src: url('fonts/Marion-Italic.woff2') format('woff2'),
        url('fonts/Marion-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trend';
    src: url('fonts/TrendRoughSlab-One.woff2') format('woff2'),
        url('fonts/TrendRoughSlab-One.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$baskerville: 'Libre Baskerville', serif;
$marion-regular: 'Marion Regular', sans-serif;
$marion-italic: 'Marion Italic', sans-serif;
$tungsten: 'Tungsten', sans-serif;
$trend: 'Trend', serif;