section.column-row {
    background: url(images/turf.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 1.5rem;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item {
        background: $white;
        padding: 30px 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;

        @include tablet {
            width: 47.5%;
        }

        h2.section-header {
            padding: 0 0 25px 0;
            font-weight: 600;
        }

        p {
            font-size: 1.125em;
            line-height: 1.5em;
        }

        h3 {
            padding: 25px 0 50px 0;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-size: 2em;
        }

        .image {
            padding-top: 25px;
        }

    }
}