section#contact {
    margin: 0;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    h2.section-header {
        width: 100%;
        padding-bottom: 25px;
    }

    .info {
        width: 100%;

        @include tablet {
            width: 47.5%
        }
    }

    .detail {

        & + .detail {
            padding: 50px 0 0 0;
        }

        h3 {
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-size: 2em;
            padding: 0 0 5px 0;
        }

        p {
            font-size: 1.125em;
            line-height: 1.5em;

            a {
                text-decoration: underline;
            }
        }
    }

    .map {
        width: 100%;
        padding: 50px 0 0 0;

        iframe {
            height: 400px;
            width: 100%;
        }

        @include tablet {
            width: 47.5%;
            padding: 0;
            overflow: hidden;

            iframe {
                height: 500px;
            }
        }
    }
}