section.content-rows {
    padding: 50px 0;
    
    .wrapper {
        max-width: 1200px;
    }

    .game {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        & + .game {
            padding-top: 100px;
        }

        @include tablet {
            &:nth-child(even) {
                .photo {
                    order: -1;
                }
            }
        }

        .info {
            width: 100%;
            padding-bottom: 25px;

            @include tablet {
                width: calc(40% - 25px);
                padding-bottom: 0;
            }

            .headline {
                padding: 0 0 10px 0;
                text-align: left;

                h3 {
                    color: $green;
                    text-transform: uppercase;
                    font-size: 2.5em;
                }
            }

            .copy {
                font-size: 1.125em;
                line-height: 1.5;
                padding: 0;
                
                @include tablet {
                    font-size: 1.5em;
                }

                a {
                    text-decoration: underline;
                    color: $red;
                }
            }
        }


        .photo {
            width: 100%;

            @include tablet {
                width: calc(60% - 25px);
            }
        }
    }
}