main.south-lake-union section.food {
	background: #9fcdb1;
}

main.kirkland section.food {
	background: #e8e8e5;
}

main.south-lake-union section#hero .main-image h1 {
	font-size: clamp(2rem, 12vw, 10rem)
}

main.bellingham section#hero .main-image h1 {
	@include desktop-medium {
		font-size: 12em;
	}
}

main.tacoma section#hero .main-image h1 {
	@include desktop-medium {
		font-size: 10rem;
	}
}