section.food {
    background: $yellow;
    padding-bottom:  0;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .info {
        background: $white;
        padding: 60px 40px 60px 40px;
        width: 100%;
        transform: translateY(30px);
        margin-top: -30px;
        z-index: 100;
        text-align: center;

        @include tablet {
            width: 50%;
            transform: translateY(75px);
            margin-top: -75px;
        }

        h2.section-header {
            padding: 0 0 25px 0;
        }

        p {
            font-size: 1em;
            line-height: 1.5em;

            & + p {
                padding-top: 15px;
            }

            a {
                text-decoration: underline;
            }
        }

        .hours {
            padding: 50px 0 0 0;

            h4 {
                text-transform: uppercase;
                letter-spacing: 0.05em;
                font-weight: 600;
                font-size: 1.5em;
                padding: 0 0 5px 0;
            }				
        }

        .cta {
            a + a {
                margin-left: 10px;
            }
        }
    }


    .background-accent {
        width: 100%;
        height: 100px;

        @include tablet {
            height: 200px;
        }
    }

}