section.group-events {
    background: $black;

    h2.section-header {
        color: $white;
        padding-bottom: 25px;
    }

    .info {
        max-width: 640px;
        margin: 0 auto;
        text-align: center;
        padding: 0 0 75px 0;
        color: $white;

        p {
            font-size: 1.125em;
            line-height: 1.5em;
        }
    }

    .brochure {
        text-align: center;

        a {
            display: inline-block;
            font-family: $tungsten;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-size: 2.5em;
            font-weight: 600;
            color: $white;
            text-decoration: underline;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}