section#hero {

    @include tablet {
        margin-bottom: 30px;
    }

    .main-image {
        @include aspect-ratio(16, 9);
        
        &.main-image--shorter {
            @include aspect-ratio(16, 5);
        }
        
        &:after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.2);
            z-index: 100;
        }

        .info {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 200;
        }

        .cover-headline {
            width: 100%;
        }

        h1 {
            text-align: center;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 0.1em;
            line-height: 0.875em;
        }
    }

    .gallery {
        padding: 10px 0 25px 0;
        margin: 0 0 25px 0;

        @include tablet {
            padding: 25px 0;
        }
        
        .image {
            margin: 0 5px;
            @include aspect-ratio(4, 3);

            @include tablet {
                padding: 0 10px;
            }

            &:focus,
            &:active {
                outline: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        .slick-dots {
            bottom: -5px;

            li {

                button {
                    opacity: 1;
    
                    &:before {
                        background-color: $green;
                        opacity: 1;

                    }
                }
                &.slick-active button:before {
                    background-color: $dark-green;

                }
            }
        }

    }

    & + section.left-aligned-text {
        padding-top: 0;
    }
}

section#hero,
.section-headline {
    text-align: center;
    padding: 0 0 3rem;

    h1,
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 3em;
        color: $black;
        font-weight: bold;
        letter-spacing: 0.1em;
        line-height: 0.875;


        @include tablet {
            font-size: 4em;

        }

        @include desktop-small {
            font-size: 12em;
        }
    }
}