section.left-aligned-text {
    padding: 100px 0;
    
    .wrapper {
        max-width: 1200px;
    }
    
    .copy {
        padding: 25px 0 0;
        max-width: 720px;
        margin: 0 auto;

        @include tablet {
            padding: 100px 0 0;
        }

        p {
            font-size: 1.125em;
            line-height: 1.5;

            & + p {
                padding: 25px 0 0;
            }

            @include tablet {
                font-size: 1.5em;
            }
        }
    }
}