section.template-section.locations {
    padding: 100px 0;
    text-align: center;

    .locations-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px 0 0 0;

        .location {
            width: 100%;
            margin: 0 0 25px 0;

            @include tablet-small {
                width: 47.5%;
            }

            @include tablet {
                width: 30.3333%;
            }

            a {
                display: block;
                width: 100%;
                height: 100%;

                .info {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: rgba(0, 0, 0, 0.5);
                    transition: background 0.3s ease-in-out;

                    strong {
                        color: $white;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                        font-family: $tungsten;
                        font-size: 8em;
                        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                        transform: translateY(10px);
                        width: 100%;
                        display: block;
                    }
                    em {
                        width: 100%;
                        display: block;
                        color: $white;
                        padding: 5px 0 0 0;
                        font-size: 1.5em;
                        font-family: $marion-italic;
                        font-style: normal;
                    }

                }

                &:hover {
                    .info {
                        background: rgba(0, 0, 0, 0.25);
                    }
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
