.mobile-header-contact {
    padding-bottom: 25px;

    @include tablet {
        display: none;
    }

    h2 {
        text-transform: uppercase;
        letter-spacing: 0.075em;
        font-size: 2.25em;
        display: flex;
        align-items: center;
        width: 100%;

        @include desktop-medium {
            font-size: 3em;
        }

        .coming-soon {
            padding-top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            order: -1;
            margin-left: 0;
            margin-right: 10px;

            &:before,
            &:after {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                background: $yellow;
                border-radius: 50%;
                opacity: 0.8;
            }

            &:after {
                background: $red;
                transform: translateX(-4px);
            }
        }

    }

    .info {
        padding: 10px 0 0 0;

        p {
            font-size: 1em;
            line-height: 1.25em;

            & + p {
                padding: 5px 0 0 0;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }


    .utility-nav {
        padding: 20px 0 0 0;
        display: flex;

        a {
            display: block;
            font-family: $tungsten;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-size: 1.25em;
            line-height: 1em;
            font-weight: 600;
            padding: 10px;					
            margin: 0 0 15px 0;
            width: 100%;
            text-align: center;
            background: $yellow;
            color: $slate;

            span {
                display: block;
                padding: 14px 22px 12px 22px;
                border: 1px solid $black;
            }

            @include tablet-small {
                width: 47.5%;
                max-width: 200px;
                margin: 0;
            }

            & + a {
                margin-left: 15px;
            }
        }
    }

}