section#location-nav {
    display: none;

    @include tablet {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        background: #e8e8e5;
        top: 0;
        z-index: 1000;
        padding: 20px 0;
    }

    .links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        white-space: nowrap;

        &:empty {
            padding: 0;
        }
    }

    a {
        display: block;
        margin: 0 20px;
        font-size: 1.25em;

        &:hover {
            text-decoration: underline;
        }
    }
}