section.template-section {
    padding: 3rem 0;

    .wrapper {
        max-width: 960px;
    }

    h2.section-header {
        text-align: center;
        text-transform: uppercase;
    }

    & + section.template-section {
        margin-top: 25px;
    }
    
    .cta {
        margin-top: 50px;
        text-align: center;
        
        a {
            display: inline-block;
            font-family: $tungsten;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-size: 1.5em;
            line-height: 1em;
            font-weight: 600;
            padding: 10px;
            text-align: center;
            background: $yellow;
            color: $slate;					

            span {
                display: block;
                padding: 14px 22px 12px 22px;
                border: 1px solid $black;
            }

        }
        
        &.cta--secondary {
            a {
                font-size: 1.75em;
                background: $black;
                color: $white;
                padding: 18px 32px 14px 32px;
                
                span {
                    padding: 0;
                    border: none;
                }
            }
        }
    }
}