section.tap-list {
    background: $dark-brown;
    color: $white;
    padding: 100px 0;

    .wrapper {
        max-width: 720px;
    }

    .section-header {
        padding-bottom: 2rem;
    }

    .item {
        display: flex;

        & + .item {
            padding-top: 50px;
        }

        .tap {
            width: 15%;
            text-align: right;
            padding: 0 20px 0 0;

            @include tablet {
                padding: 0 50px 0 0;
            }

            strong {
                font-family: $tungsten;
                font-weight: 500;
                font-size: 2.5em;

                @include tablet {
                    font-size: 3em;
                }
            }
        }

        .logo {
            max-width: 48px;

            @include tablet {
                max-width: 64px;
            }

            img {
                border-radius: 3px;
            }

        }

        .info {
            flex: 1;
            padding: 0 20px 0 20px;

            @include tablet {
                padding: 0 20px 0 40px;
            }

            h3.beer {
                font-size: 2em;

                @include tablet {
                    font-size: 2.5em;
                }
            }

            h4.style {
                text-transform: uppercase;
                font-size: 1.25em;
                letter-spacing: 0.05em;
                color: $yellow;
                padding: 5px 0 0 0;

                @include tablet {
                    font-size: 1.5em;
                }
            }

            .details {
                padding: 5px 0 0 0;

                @include tablet {
                    padding: 10px 0 0 0;
                }
                p {
                    font-size: 1em;

                    span {
                        display: block;

                        & + span {
                            padding: 10px 0 0 0;
                        }

                        @include tablet {
                            display: inline-block;

                            & + span {
                                padding: 0 0 0 10px;
                            }
                        }

                    }
                }
            }
        }

        .remaining {
            width: 5%;
            .meter {
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 2px;
                width: 10px;
                height: 50px;
                margin-left: auto;


                .amount {
                    display: block;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }

    .powered-by {
        padding: 100px 0 0 0;

        a {
            display: block;
            max-width: 300px;
            margin: 0 auto;
        }
    }

}