section.weekly-happenings {
    background: $dark-green;
    color: $white;

    @include tablet {
        margin-top: 30px;
    }

    .events {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        padding: 0 0 50px 0;

        .event {
            width: 100%;
            text-align: center;
            border: 3px solid $green;
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & + .event {
                margin-top: 25px;
            }

            @include tablet-small {
                width: 30.8333%;
                margin: 0 1.25%;
                
                & + .event {
                    margin-top: 0;
                }
            }

            .time {
                padding: 0 0 20px 0;

                h4 {
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    font-size: 2em;
                    font-weight: 600;
                    line-height: 1.25em;

                    @include tablet-small {
                        font-size: 1.25em;
                    }

                    @include tablet {
                        font-size: 1.5em;
                    }

                }

            }

            .title {
                border-top: 3px solid $green;
                border-bottom: 3px solid $green;
                padding: 15px;

                h3 {
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    font-weight: 600;
                }
            }
        }
    }

    .specials {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        padding: 0 0 25px 0;

        .special {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & + .special {
                margin-top: 50px;
            }

            @include tablet-small {
                width: 47.5%;
                
                & + .special {
                    margin-top: 0;
                }
            }

            .title {
                padding: 0;

                h3 {
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    font-size: 1.5em;
                    font-weight: 600;
                    line-height: 1.25em;

                    @include tablet {
                        font-size: 3em;
                    }

                }
            }

            .time {
                padding: 0 0 5px 0;

                h4 {
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    font-size: 2em;
                    font-weight: 600;
                    line-height: 1.25em;

                    @include tablet-small {
                        font-size: 1.25em;
                    }

                    @include tablet {
                        font-size: 1.5em;
                    }
                }
            }

            .details {
                p {
                    font-size: 1.25em;
                    line-height: 1.25em;
                }
            }
        }
    }
}