@import "media-queries";

@import "aspect-ratio";

@import "placeholder";

@import "cover-fill-image";

@mixin wrapper-padding {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
	transition: padding 0.2s ease-in;

	@media screen and (min-width: 1250px) {
		padding: 0;
	}
}