.about {
    padding: 3rem 0 0 0;
    text-align: center;

    @include tablet {
        padding: 6rem 0 0 0;
    }

    .info {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 3rem;

        @include tablet {
            padding-bottom: 6rem;
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 5 / span 6;
        }
    }

    h3 {
        color: $red;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 1.75rem;
        font-weight: bold;
        padding: 0 0 1.25rem 0;
    }

    p {
        font-family: $tungsten;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 1.5rem;

        @include tablet {
            font-size: 2.75rem;
        }
    }
}