.locations {
    padding: 6rem 0;
    text-align: center;

    .locations-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;

        @include tablet-small {
            grid-template-columns: 1fr 1fr;
        }

        @include tablet {
            grid-template-columns: 1fr 1fr 1fr;
        }

        padding: 50px 0 0 0;

        .location {
            height: 300px;

            a {
                display: block;
                width: 100%;
                height: 100%;

                .info {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: rgba(0, 0, 0, 0.5);
                    transition: background 0.3s ease-in-out;

                    strong {
                        color: $white;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                        font-family: $tungsten;
                        font-size: 6rem;
                        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                        transform: translateY(10px);
                        width: 100%;
                        display: block;

                        @include desktop-small {
                            font-size: 7rem;
                        }
                    }
                    em {
                        width: 100%;
                        display: block;
                        color: $white;
                        padding: 5px 0 0 0;
                        font-size: 1.25rem;
                        font-family: $marion-italic;
                        font-style: normal;

                        @include tablet {
                            font-size: 1.5rem;
                        }
                    }

                    .coming-soon {
                        padding-top: 10px;
                        h5 {
                            color: $white;
                            text-transform: uppercase;
                            letter-spacing: 0.05em;
                            font-size: 1.125rem;
                            display: flex;
                            align-items: center;

                            &:before,
                            &:after {
                                content: '';
                                display: block;
                                width: 8px;
                                height: 8px;
                                background: $yellow;
                                border-radius: 50%;
                                opacity: 0.8;

                            }

                            &:before {
                                order: 1;
                            }

                            &:after {
                                order: 2;
                                background: $red;
                                transform: translateX(-2px);
                            }

                            .text {
                                order: 3;
                                padding-left: 8px;
                            }
                        }
                    }

                }

                &:hover {
                    .info {
                        background: rgba(0, 0, 0, 0.25);
                    }
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}