.site-header {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;

    #toggle {
        .patty {
            background: $white;

            &:after, &:before {
                background: $white;
            }
        }

    }

    &.open {
        #toggle {
            .patty {
                background: none;
            }				
        }
    }
}