.video-hero {
    background-color: $black;
    width: 100%;
    overflow: hidden;
    @include aspect-ratio(16, 9);

    &:after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0);
        z-index: 100;
    }

    .video-container {
        width: 100%;
        height: 100%;
        background: #111;
    }

    .video-box{
        position: absolute;
        width: 104%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /* Video background */
        .videobg {
          position: relative;
          width: 100%; /* Set video container element width here */
          height: 100%; /* Set video container element height here */
          overflow: hidden;
          background: #111; /* bg color, if video is not high enough */
        }

        /* horizontally center the video */
        .videobg-width {
          position: absolute;
          width: 100%; /* Change width value to cover more area*/
          height: 100%;
          left: -9999px;
          right: -9999px;
          margin: auto;
        }

        /* set video aspect ratio and vertically center */
        .videobg-aspect {
          position: absolute;
          width: 100%;
          height: 0;
          top: -9999px;
          bottom: -9999px;
          margin: auto;
          padding-bottom: 56.25%; /* 16:9 ratio */
          overflow: hidden;
          
        }

        .videobg-make-height {
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
        }

        .videobg-hide-controls {
          box-sizing: content-box;
          position: relative;
          height: 100%;
          width: 100%;
          /* Vimeo timeline and play button are ~55px high */
          padding: 55px 97.7777px; /* 16:9 ratio */
          top: -55px; 
          left: -97.7777px; /* 16:9 ratio */
        }

        .videobg iframe {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border: 0 none;
        }
    }

    .down {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 20px;
        left: 0;
        z-index: 10000;
        animation: arrow-hover 0.8s ease-in;
        animation-iteration-count: infinite;
        transform: translate3d(0, 0, 0);

        @keyframes arrow-hover {
            0% {
                transform: translate3d(0, 0, 0);
            }

            25% {
                transform: translate3d(0, -5px, 0);
            }

            50% {
                transform: translate3d(0, 0, 0);
            }

            75% {
                transform: translate3d(0, 5px, 0);
            }
        }

        img {
            width: 1.5rem;
            margin: 0 auto;
        }        
    }
}