body.page-template-about {

    .section-header {
        text-align: center;
        text-transform: uppercase;
        font-size: 3em;
        color: $black;
        font-weight: bold;
        letter-spacing: 0.1em;
        line-height: 0.875;


        @include tablet {
            font-size: 4em;

        }

        @include desktop-small {
            font-size: 12em;
        }
    }

    @import "about/about";
    
    @import "about/games";

	@import "about/press";
}