@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.85 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.4 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */



/* Icons */

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    z-index: 100;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: 20px;
    [dir="rtl"] & {
        left: auto;
        right: 20px;
    }
    @include desktop-medium {
        left: 40px;
        [dir="rtl"] & {
            left: auto;
            right: 40px;
        }
    }

    &:before {
        background: url(images/left-arrow.png) no-repeat 0 0;
        width: 60px;
        height: 60px;
        content: '';
        display: block;
    }
}

.slick-next {
    right: 20px;
    [dir="rtl"] & {
        left: 20px;
        right: auto;
    }

    @include desktop-medium {
        right: 40px;
        [dir="rtl"] & {
            left: 40px;
            right: auto;
        }
    }
    &:before {
        background: url(images/right-arrow.png) no-repeat 0 0;
        width: 60px;
        height: 60px;
        content: '';
        display: block;
    }
}

/* Dots */
.slick-dots {
    position: absolute;
    bottom: 5px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;

    @include tablet-small {
        bottom: 15px;
    }

    li {
        position: relative;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            width: 12px;
            height: 12px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: ' ';
                width: 12px;
                height: 12px;
                border-radius: 50%;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                background-color: $white;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $white;
            opacity: $slick-opacity-default;
        }
    }
}
