section.about {
    padding-bottom: 6rem;

    @include desktop-small {
        padding: 0 0 12rem 0;
    }
    
    .headline {
		text-align: center;
		padding: 0 0 3rem;
    }

    .copy {
        padding: 25px 0 0;

        @include tablet {
            padding: 6rem 0 0;
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }

        p {
            font-size: 1.125rem;
            line-height: 1.5;

            & + p {
                padding: 1.5rem 0 0 0;
            }

            @include tablet {
                font-size: 1.5rem;
            }
        }
    }
}