section.press {
    padding: 6rem 0;

    @include desktop-small {
        padding: 12rem 0 8rem 0;
    }

    .section-header {
        padding-bottom: 2rem;
    }


    .clip {
        text-align: center;
        max-width: 480px;
        margin: 0 auto;

        & + .clip {
            padding-top: 50px;
        }

        h4 {
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-weight: bold;
            font-size: 1.5em;
            color: $green;

        }

        h3 {
            font-family: $marion-regular;
            font-size: 1.5em;
            line-height: 1.25em;

            a {

                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }

}